<a href="https://colab.research.google.com/github/aydanbabayeva/dataset/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
import pandas as pd

In [77]:
names=['ay','bay','yay']
scores=[100,200,300]

In [78]:
pd.Series(data=scores,index=names)

ay     100
bay    200
yay    300
dtype: int64

In [79]:
pd.DataFrame

pandas.core.frame.DataFrame

In [80]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [81]:
df['names']=names
df['scores']=scores
df

  names  scores
0    ay     100
1   bay     200
2   yay     300

In [82]:
!wget https://raw.githubusercontent.com/Rstam59/TaskDataRepoForStudents/refs/heads/main/car-sales.csv

--2026-02-09 18:16:50--  https://raw.githubusercontent.com/Rstam59/TaskDataRepoForStudents/refs/heads/main/car-sales.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 369 [text/plain]
Saving to: ‘car-sales.csv.3’

car-sales.csv.3     100%[===================>]     369  --.-KB/s    in 0s

2026-02-09 18:16:50 (6.12 MB/s) - ‘car-sales.csv.3’ saved [369/369]

In [83]:
df=pd.read_csv("car-sales.csv")

In [84]:
df.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [85]:
len(df)

10

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

In [87]:
df.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [88]:
# Alt sərhəd = Q1 − 1.5 × IQR
# Üst sərhəd = Q3 + 1.5 × IQR

In [89]:
import numpy as np

In [90]:
mask=np.random.choice([True,False],10)
mask

array([False, False,  True,  True, False, False, False,  True,  True,
       False])

In [91]:
df[mask]

     Make Colour  Odometer (KM)  Doors       Price
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00

In [92]:
df['Colour']=='White'

0     True
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8     True
9     True
Name: Colour, dtype: bool

In [93]:
df[df['Colour']=='White']

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
4  Nissan  White         213095      4  $3,500.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

In [94]:
df[df['Odometer (KM)']>150000]

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
4  Nissan  White         213095      4  $3,500.00

In [95]:
df.where(df['Odometer (KM)']>150000)

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White       150043.0    4.0  $4,000.00
1     NaN    NaN            NaN    NaN        NaN
2     NaN    NaN            NaN    NaN        NaN
3     NaN    NaN            NaN    NaN        NaN
4  Nissan  White       213095.0    4.0  $3,500.00
5     NaN    NaN            NaN    NaN        NaN
6     NaN    NaN            NaN    NaN        NaN
7     NaN    NaN            NaN    NaN        NaN
8     NaN    NaN            NaN    NaN        NaN
9     NaN    NaN            NaN    NaN        NaN

In [96]:
df.sample(frac=0.3)

     Make Colour  Odometer (KM)  Doors      Price
7   Honda   Blue          54738      4  $7,000.00
2  Toyota   Blue          32549      3  $7,000.00
4  Nissan  White         213095      4  $3,500.00

In [97]:
df['Price']

0     $4,000.00
1     $5,000.00
2     $7,000.00
3    $22,000.00
4     $3,500.00
5     $4,500.00
6     $7,500.00
7     $7,000.00
8     $6,250.00
9     $9,700.00
Name: Price, dtype: object

In [98]:
df['Price'] = df['Price'].str.replace('$', '').str.replace(',', '').astype(float)

In [99]:
df['Make'].value_counts()

Make
Toyota    4
Honda     3
Nissan    2
BMW       1
Name: count, dtype: int64

In [100]:
df['Odometer (KM)'].mean()
df['Odometer (KM)'].min()
df['Odometer (KM)'].max()
df.Price.sum()

np.float64(76450.0)

In [102]:
df[4:7]

     Make Colour  Odometer (KM)  Doors   Price
4  Nissan  White         213095      4  3500.0
5  Toyota  Green          99213      4  4500.0
6   Honda   Blue          45698      4  7500.0

In [104]:
df.loc[4:7]

     Make Colour  Odometer (KM)  Doors   Price
4  Nissan  White         213095      4  3500.0
5  Toyota  Green          99213      4  4500.0
6   Honda   Blue          45698      4  7500.0
7   Honda   Blue          54738      4  7000.0

In [109]:
df_alt=df.set_index('Make')
df_alt

       Colour  Doors    Price
Make
Toyota  White      4   4000.0
Honda     Red      4   5000.0
Toyota   Blue      3   7000.0
BMW     Black      5  22000.0
Nissan  White      4   3500.0
Toyota  Green      4   4500.0
Honda    Blue      4   7500.0
Honda    Blue      4   7000.0
Toyota  White      4   6250.0
Nissan  White      4   9700.0

In [110]:
df_alt.loc['Toyota']

       Colour  Doors   Price
Make
Toyota  White      4  4000.0
Toyota   Blue      3  7000.0
Toyota  Green      4  4500.0
Toyota  White      4  6250.0

In [111]:
df.iloc[5] #yuxardaki loca num yaza bilmerik, index sizlerdi, iloca ise soz yaza bilmerik ancag int

Make      Toyota
Colour     Green
Doors          4
Price     4500.0
Name: 99213, dtype: object

In [112]:
df['Make']

Odometer (KM)
150043    Toyota
87899      Honda
32549     Toyota
11179        BMW
213095    Nissan
99213     Toyota
45698      Honda
54738      Honda
60000     Toyota
31600     Nissan
Name: Make, dtype: object

In [113]:
df['Make'].apply(lambda x:x.upper())

Odometer (KM)
150043    TOYOTA
87899      HONDA
32549     TOYOTA
11179        BMW
213095    NISSAN
99213     TOYOTA
45698      HONDA
54738      HONDA
60000     TOYOTA
31600     NISSAN
Name: Make, dtype: object

In [114]:
df_alt.reset_index()

     Make Colour  Doors    Price
0  Toyota  White      4   4000.0
1   Honda    Red      4   5000.0
2  Toyota   Blue      3   7000.0
3     BMW  Black      5  22000.0
4  Nissan  White      4   3500.0
5  Toyota  Green      4   4500.0
6   Honda   Blue      4   7500.0
7   Honda   Blue      4   7000.0
8  Toyota  White      4   6250.0
9  Nissan  White      4   9700.0

In [115]:
df_alt.reset_index().reset_index()

   index    Make Colour  Doors    Price
0      0  Toyota  White      4   4000.0
1      1   Honda    Red      4   5000.0
2      2  Toyota   Blue      3   7000.0
3      3     BMW  Black      5  22000.0
4      4  Nissan  White      4   3500.0
5      5  Toyota  Green      4   4500.0
6      6   Honda   Blue      4   7500.0
7      7   Honda   Blue      4   7000.0
8      8  Toyota  White      4   6250.0
9      9  Nissan  White      4   9700.0

In [ ]:
df.rename(columns={'Odometer (KM)':'Odometer'})