<a href="https://colab.research.google.com/github/aydanbabayeva/dataset/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

url = 'https://raw.githubusercontent.com/aydanbabayeva/dataset/refs/heads/main/healthcare-dataset-stroke-data.csv'  # Ã¶z URL-in
df = pd.read_csv(url)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [17]:
#clean eden id sutunu modele lazim deyil deyek ve silek
df=df.drop(columns=["id"])

In [18]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [19]:
#nan
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
df=df["bmi"].fillna(df["bmi"].median())

In [ ]:
df.isnull().sum()

In [ ]:
#Categorical Encoding
df=pd.get_dummies(df, drop_first=True)

In [ ]:
#scaling normalization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
num_cols = ["age", "avg_glucose_level", "bmi"]
df[num_cols] = scaler.fit_transform(df[num_cols])

In [ ]:
#outlier
Q1 = df["avg_glucose_level"].quantile(0.25)
Q3 = df["avg_glucose_level"].quantile(0.75)
IQR = Q3 - Q1

In [ ]:
df_clean = df[(df["avg_glucose_level"] > Q1 - 1.5*IQR) & (df["avg_glucose_level"] < Q3 + 1.5*IQR)]

In [ ]:
df.describe()